body {
    background-color: #89ABE3FF;
    margin: 0px;
    min-height: 100vh;
}

/* Title */
.header {
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

/* Canvas */
.canvas {
    display: flex;
    width: 600px;
    height: 460px;
    background-color: #FCF6F5FF;
    margin-bottom: 120px;
    flex-direction: column;
}

.bottom-container {
    display: flex;  
    flex-direction: column;
    gap: 5px;
}

#change-btn {
    width: 50px;
    height: 50px;
    background-color: white;
    color: #121212;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
}

/* style for the tools */

.tools {
    width: 50px;
    height: 50px;
    background-color: aliceblue;
}

.tool-container {
    display: flex;
    gap: 5px;
}

.left-section, .right-section {
    display: flex;
    gap: 5px;
    flex-direction: column;
}

/* styles for the color tools */

.color-container {
    display: flex;
    flex-direction: row;
    width: 105px;
    height: 400px;
    background-color: aliceblue;
}

.colors {
    width: 100%;
    flex: 1;
}

.color-con {
    display: flex;
    width: 20px;
    flex: 1;
    gap: 0px;
}

.colors.red {
    background-color: red;
}

.colors.orange {
    background-color: orange;
}

.colors.yellow {
    background-color: yellow;
}

.colors.green {
    background-color: green;
}

.colors.blue {
    background-color: blue;
}

.colors.violet {
    background-color: violet;
}

.colors.pink {
    background-color: pink;
}

.colors.brown {
    background-color: brown;
}

.colors.black {
    background-color: black;
}

.colors.darkred {
    background-color: darkred;
}

.colors.darkorange {
    background-color: darkorange;
}

.colors.darkyellow {
    background-color: darkgoldenrod;
}

.colors.darkgreen {
    background-color: darkgreen;
}

.colors.darkviolet {
    background-color: darkviolet;
}

.colors.darkpink {
    background-color: rgb(201, 134, 145);
}

.colors.darkbrown {
    background-color: rgb(114, 30, 30);
}

.delete-container {
    display: flex;
    gap: 2px;
}

#trash-icon {
    width: 52.5px;
    height: 50px;
}

.row {
    display: flex;
    box-sizing: border-box;
    flex: 1;
}

.pixel {
    box-sizing: border-box;
    flex: 1;
    border:1px solid;
    border-color: rgba(0,0,255,0.25);
}

#tools-btn {
    box-sizing: border-box;
    width: 30px;
    height: 30px;
}

.tools {
    padding: 0px;
}